@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>

<div class="d-flex justify-content-center">
    <div class="d-flex gap-3">
        <a href="/">Chefs</a>
        <p>---</p>
        <p>Dishes</p>
        <p>---</p>
        <a href="/chefs/new">Add a Chef</a>
        <p>---</p>
        <a href="/dishes/new">Add a Dish</a>
    </div>
</div>

<h2 class="text-center">Available Dishes</h2>
<hr/>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Chef</th>
            <th>Tastiness</th>
            <th>Calories</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Dish dish in Model)
        {
            <tr>
                <td>@dish.Name</td>
                <td>@dish.Chef.FirstName @dish.Chef.LastName</td>
                <td>@dish.Tastiness</td>
                <td>@dish.Calories</td>
            </tr>
        }
    </tbody>
</table>